@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Inter:wght@300&family=Lexend+Deca:wght@100&family=Montserrat:wght@100&family=Poppins:wght@200&family=Roboto:wght@100&family=Space+Mono:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
}
body{
  background: #F0F0F0;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(44, 42, 42); 
  border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}
main{
  display: flex;
  gap: 50px;
}